# **Activity 2: Python-Pandas Exercise**

Objectives:
- Understand Python syntax (variables, loops, functions).
- Learn Pandas basics (Series, DataFrames, reading files).
- Perform data cleaning (handling missing values, correcting formats, removing duplicates).
- Apply concepts in a real-world case study.

# Part 1: Hands-on Python & Pandas Basics

1. Install the Pandas library in your environment.

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\johnf\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.2.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\johnf\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2024.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\johnf\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\johnf\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\johnf\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\johnf\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 25.0
[notice] To update, run: C:\Users\johnf\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

2. Import the  pandas package under the name `pd`

In [4]:
import pandas as pd

3. Print the pandas version

In [5]:
print(pd.__version__)

2.2.3

4. Create a variable `x` with the value 10 and a string variable `y` with "Fortes in Fide!"

In [6]:
x = 10
y = "Fortes in Fide!"

5. Define a list with numbers `[1, 2, 3, 4, 5]` and a dictionary with keys `name` and `age`

In [7]:
list1 = [1,2,3,4,5]
name = {
    "name": "age"
}

6. Write a function `greet(name)` that returns "Magis, (name)"!

In [8]:

def greet(name):
    print(f"Magis, {name}")
userName="glenn"
greet(userName)

Magis, glenn

7. Write a Python function that takes a user‚Äôs name as input and prints a personalized greeting.

In [9]:
def greeting(name):
    print(f"Hello Welcome Back {name}!")

userName = input("Enter your name: ")
greeting(userName)

Hello Welcome Back glenn!

8. Modify **Number 7** that if the user does not enter a name, it defaults to "Guest".

In [21]:
def greeting(name):
    print(f"Hello Welcome Back {name}!")

userName = input("Enter your name: ")

if not userName:
    userName = "Guest"

greeting(userName)

Hello Welcome Back Guest!

9. Create a Pandas Series from `[10, 20, 30, 40]`.

In [11]:
newSeries = pd.Series([10,20,30,40])
print(newSeries)

0    10
1    20
2    30
3    40
dtype: int64

10.  Create a DataFrame with columns `A` and `B`.

In [12]:
newDf = pd.DataFrame({
    "A":[1,2,3],
    "B":[1,2,3]
})
print(newDf)

   A  B
0  1  1
1  2  2
2  3  3

# Part 2: Working with a Dataset üõ•Ô∏è

1. Load the Titanic dataset from a local file and display the first five rows.

In [13]:
titanicData = pd.read_csv("titanic_dataset.csv")
print(titanicData.head())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

2. Display the dataset's column names, data types.

In [14]:
print(titanicData.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB
None

3. Display the dataset's missing values.

In [22]:
missing_values = titanicData.isnull().sum()
print(missing_values)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

4. Display the `Name`, `Age`, and `Fare` columns from the dataset. (first 10)

In [16]:
print(titanicData[["Name", "Age", "Fare"]].head(10))

                                           Name   Age     Fare
0                              Kelly, Mr. James  34.5   7.8292
1              Wilkes, Mrs. James (Ellen Needs)  47.0   7.0000
2                     Myles, Mr. Thomas Francis  62.0   9.6875
3                              Wirz, Mr. Albert  27.0   8.6625
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0  12.2875
5                    Svensson, Mr. Johan Cervin  14.0   9.2250
6                          Connolly, Miss. Kate  30.0   7.6292
7                  Caldwell, Mr. Albert Francis  26.0  29.0000
8     Abrahim, Mrs. Joseph (Sophie Halaut Easu)  18.0   7.2292
9                       Davies, Mr. John Samuel  21.0  24.1500

 5. Print the descriptive statistics of the Titanic dataset.

In [17]:
print(titanicData.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   418.000000  418.000000  418.000000  332.000000  418.000000
mean   1100.500000    0.363636    2.265550   30.272590    0.447368
std     120.810458    0.481622    0.841838   14.181209    0.896760
min     892.000000    0.000000    1.000000    0.170000    0.000000
25%     996.250000    0.000000    1.000000   21.000000    0.000000
50%    1100.500000    0.000000    3.000000   27.000000    0.000000
75%    1204.750000    1.000000    3.000000   39.000000    1.000000
max    1309.000000    1.000000    3.000000   76.000000    8.000000

            Parch        Fare
count  418.000000  417.000000
mean     0.392344   35.627188
std      0.981429   55.907576
min      0.000000    0.000000
25%      0.000000    7.895800
50%      0.000000   14.454200
75%      0.000000   31.500000
max      9.000000  512.329200

6. Remove rows with missing values in the `Age` column.

In [27]:
newTitanicData = titanicData["Age"].dropna()
dataCount = newTitanicData.count()
print(titanicData.count())
print(dataCount)
# 418 (rows) - 86 (null age values) = 332

PassengerId    418
Survived       418
Pclass         418
Name           418
Sex            418
Age            332
SibSp          418
Parch          418
Ticket         418
Fare           417
Cabin           91
Embarked       418
dtype: int64
332

7. Remove duplicate rows from the dataset.

In [19]:
print(titanicData.drop_duplicates())

     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   NaN      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   NaN      0      0
417                      Peter, Master. Michael J    male   NaN      1      1

                 Ticket      Fare Cabin Embarked
0                330911    7.8292   NaN        Q
1                363272    7.0000   NaN        S
2                240276    9.6875   NaN        Q
3                315154    8.6625   NaN        S
4               3101298   12.2875   NaN        S
..                  ...       ...   ...      ...
413           A.5. 3236    8.0500   NaN        S
414            PC 17758  108.9000  C105        C
415  SOTON/O.Q. 3101262    7.2500   NaN        S
416              359309    8.0500   NaN        S
417                2668   22.3583   NaN        C

[418 rows x 12 columns]

8. Compute and display the correlation matrix of the dataset.

In [28]:
print(titanicData.corr())

ValueError: could not convert string to float: 'Kelly, Mr. James'

# Part 2: Working with Case Studies

When working on these case studies, **always ensure that your code is properly documented and clearly presented**. Follow these key principles:  

### **1. Always Show Your Code**  
- Every step of data exploration, cleaning, and analysis should include **visible code outputs**.  
- Do not skip showing your process, as transparency is essential for reproducibility.  

### **2. Proper Documentation is Necessary**  
- Use **comments (`#`) in Python** to explain your code clearly.  
- Add **Markdown cells** to describe each step before executing the code.  
- Explain key findings in simple language to make the analysis easy to understand.  

### **3. Use Readable and Organized Code**  
- Follow a **step-by-step approach** to keep the notebook structured.  
- Use **proper variable names** and avoid hardcoding values where possible.

# **Case Study 1: Iris Flower Classification** üå∏  

### **Background**  
A botanical research institute wants to develop an automated system that classifies different species of **iris flowers** based on their **sepal and petal measurements**.  The dataset consists of **150 samples**, labeled as **Setosa, Versicolor, or Virginica**.  

### **Problem Statement**  
Can we use **sepal and petal dimensions** to correctly classify the **species of an iris flower**?  

### **Task Description**  

#### **1. Data Exploration**  
- Load the dataset and display the first few rows.  
- Identify any missing or inconsistent values.  

#### **2. Data Cleaning**  
- Check for missing values and handle them appropriately.  
- Convert categorical species labels into a format suitable for analysis.  

#### **3. Basic Data Analysis**  
- Find the average sepal and petal dimensions for each species.  
- Identify correlations between different flower measurements.  

#### **4. Visualization**  
- Create simple visualizations (e.g., histograms, scatter plots) to understand data distribution.  

#### **5. Insights & Interpretation**  
- Summarize key findings, such as which features best distinguish flower species.

*Data Exploration*

In [29]:
irisDataset = pd.read_csv("iris_dataset.csv") #Load in CSV file
print(irisDataset.head()) #Return first 5 
print(irisDataset.describe())

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

*Data Cleaning*

In [30]:
#Show Data types for each column values and check for null or missing values
print(irisDataset.info())
print("\n")

missing_values = irisDataset.isnull().sum() #Confirmation that there is no null values
print(missing_values)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None


sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

# **Case Study 2: Netflix Content Analysis** üé¨  

## **Background**  
Netflix is a leading streaming platform with a vast collection of movies and TV shows. The company wants to analyze its **content library** to understand trends in **genres, release years, and regional distribution**.  

## **Problem Statement**  
How can we use **Netflix‚Äôs dataset** to gain insights into content distribution, popular genres, and release trends over time?  

## **Task Description**  

### **1. Data Exploration**  
- Load the dataset and inspect its structure.  
- Identify key columns such as title, genre, release year, and country.  

### **2. Data Cleaning**  
- Check for missing or incorrect values in key columns.  
- Remove duplicates and format the date-related data properly.  

### **3. Basic Data Analysis**  
- Count the number of movies vs. TV shows.  
- Identify the most common genres and countries producing content.  
- Analyze the number of releases per year to observe trends.  

### **4. Insights & Interpretation**  
- Summarize key findings, such as trends in Netflix's content production over time.

In [31]:
# Load dataset into a pandas DataFrame
netflixData = pd.read_csv('netflix_dataset.csv')

# Display the first 5 rows of the DataFrame
print(netflixData.head())

  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

In [32]:
# Display the information(key columns) about the DataFrame
print(netflixData[["title", "listed_in", "release_year", "country"]].info())

# The title, genres, and release year columns do not have any missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         8807 non-null   object
 1   listed_in     8807 non-null   object
 2   release_year  8807 non-null   int64
 3   country       7976 non-null   object
dtypes: int64(1), object(3)
memory usage: 275.3+ KB
None

In [33]:
# Checking for missing or incorrect values
print(netflixData[["title", "listed_in", "release_year", "country"]].isnull().sum())

# There are 831 missing values in the country column

title             0
listed_in         0
release_year      0
country         831
dtype: int64

In [34]:
# This code will remove duplicates from the DataFrame
rows_before = netflixData.shape[0]
netflixData_cleaned = netflixData.drop_duplicates()
rows_after = netflixData_cleaned.shape[0]

print(f"Rows before dropping duplicates: {rows_before}")
print(f"Rows after dropping duplicates: {rows_after}")

# This shows that there are no duplicates in the DataFrame

Rows before dropping duplicates: 8807
Rows after dropping duplicates: 8807

In [35]:
# This will format the date_added column into DateTime format

netflixData_cleaned['date_added'] = pd.to_datetime(netflixData_cleaned['date_added'])
print(netflixData_cleaned.info(), "\n")
print(netflixData_cleaned)

ValueError: time data " August 4, 2017" doesn't match format "%B %d, %Y", at position 1442. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.